NODE_ENV=production
PORT=4000
FRONTEND_HOST_PORT=3001

MYSQL_DATABASE=projectbt
MYSQL_USER=projectbt_user
MYSQL_PASSWORD=9a7c2bed1c9d7ec0e9a452344efa70f7ce3958183db43a9d

MYSQL_ROOT_PASSWORD=eda07f18a2300f63fd7b5f653696f151581070ba91f468b4

DATABASE_URL="mysql://projectbt_user:FIRST_CODE_YOU_GENERATED@db:3306/projectbt?allowPublicKeyRetrieval=true&ssl=false"

JWT_ACCESS_SECRET=fa40c91e22371d78768d1f67aceae542d3e5348ed59aafa872bf8d5596412628
JWT_ACCESS_EXPIRES=15m

COOKIE_SECURE=true
COOKIE_SAMESITE=lax
CORS_ORIGIN=https://calcmetre.tn