[submodule "apps/customer"]
	path = apps/customer
	url = https://github.com/Abdlehakim/frontendclientbt.git
	branch = main
[submodule "services/api"]
	path = services/api
	url = https://github.com/Abdlehakim/backendbt.git
	branch = main
