[submodule "backendbt"]
	path = backendbt
	url = https://github.com/Abdlehakim/backendbt.git
[submodule "frontendclientbt"]
	path = frontendclientbt
	url = https://github.com/Abdlehakim/frontendclientbt.git
